<?xml version="1.0"?>
<launch>


  <include file="$(find cspc_lidar)/launch/start.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cspc_lidar)/rviz/sc_m.rviz"/>   

<arg name="map" value="$(find rover1)/worlds/home1.yaml">
</arg>
<node pkg="map_server" type="map_server" name="map_server" args="$(arg map)">

</node>
</launch>
